* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  background-image: url("imagebanner.jpeg");
  width: 100%;
  min-height: 120px;
  /* прибивает фон чтобы он всегда равнялся по центру */
  background-position: center, center;
  /* если cover - картинка обрезаеься и масштабируется
    если contain - создаются дубликаты */
  background-size: cover;

  position: sticky;
  top: 0px;
  align-items: flex-end;
  padding: 20px;
}
nav {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav > div > p,
img,
input {
  color: white;
  opacity: 50%;
  white-space: nowrap;
}
nav > div {
  display: flex;
  /* cursor pointer - говорит что это может быть ссылка, меняется стрелка на пальчик */
  cursor: pointer;
}
.logo{
  height: 30px;
}
.navInput{
  height: 20px;
}
